body{background-color:#F4E9CD;font-family:Arial, Helvetica, sans-serif;color:#525252;text-align:center;padding:0; margin:0;}body.api{background-color:#003049;}
header{background-color:#b2520e;height:6rem;padding-top:38px;position:sticky;top:0;width:100%;z-index:10;}
h1,h2,h3{margin-bottom:2rem;}
h1{color:#fff;font-size:4rem;margin-top:80px;}h2{color:#b2520e;font-size:2.5rem;}h3{color:#fff;font-size:2rem;}
h2.titulopeliculas{padding-top:4rem;}
.apih3{margin-bottom:0.75rem;font-size:1.5rem;word-wrap:break-word;white-space:normal;}
.apilinkcont{margin-bottom:2.5rem;}.apidir,.apiactores{color:#fff;font-size:1rem;margin-bottom:0.25rem;}.apiactores{display:inline-block;max-width:24rem;}
a.apilink,a.reglink{text-decoration:none;}a.apilink:link,a.reglink:link,a.apilink:visited,a.reglink:visited{color:#b2520e;}
a.apilink:hover,a.apilink:active{color:#fff;} a.reglink:hover,a.reglink:active{color:#333;font-weight:bold;}
a.reglink{margin-top:1rem;} #contreglink{font-size:1rem;padding-top:1rem;}
nav{padding:0;margin:0 0 50px 0;}
nav ul{margin:14px 0 10px 0;padding:0;}
nav ul li{display:inline-block;margin:0 20px 0 0;font-size:1.25rem;font-weight:900;} 
nav ul li a{text-decoration:none;color:#fff;}
nav ul li a:hover{color:#666;}
nav ul li button{background-color:#8a290d;transition:0.8s;}
nav ul li button a{font-size:1.25rem;font-weight:600;color:#fff;}
nav ul li button:hover{background-color:#e07f04;color:#fff;}
.izq{float:left;padding:16px 0 0 20px;color:#fff;font-size:1.25rem;font-weight:900;} 
.der{float:right;}
button{background-color:#8a290d;padding: 5px 10px 5px 10px;border:0;font-weight:900;border-radius:5px;}
button#registrate,button.naveg{font-size:1.25rem;color:#fff;padding:15px;margin-top:20px;font-weight:600;border-radius:10px;transition:0.8s;}
button.naveg{font-size:1rem;padding:10px;margin:20px 5px 0 5px;}
button#registrate a,button.naveg a{color:#fff;text-decoration:none;}
button#registrate:hover,button.naveg:hover{background-color:#e07f04;}
button#iniciarsesion{color:#fff;font-size:1.25rem;font-weight:bold;}
img{padding:0 5px 0 5px;max-width: 100%;}
main{overflow:hidden;}
.preloader{position:absolute;width:100%;height:100%;top:0;left:0;background-image:url('movies.gif');background-repeat:no-repeat;background-color:#fff;background-position:center;z-index:999999;} #stop-scrolling{height: 100% !important;overflow: hidden !important;}
#encabezado{background-image: url('../galeria/peliculas2.jpg');height:650px;padding-top:9rem;margin:0;z-index:5;}  
#buscador{padding-top:3rem;padding-bottom:5.25rem;}
.campo{height:40px;border-radius:20px;padding-left:10px;} .cform{margin-bottom:1rem;}
#campo{background-color:#b2520e;padding:6px 20px 6px 20px;color:#fff;font-weight:900;border:1px solid #fff;transition:0.8s;}
#campo:hover{background-color:#e07f04;}
#peliculas{background-color:#003049;padding:0 1.5rem 5rem 1.5rem;min-height:auto;}
.cont-peliculas{display:flex;justify-content:center;}
.peli{border-radius: 20px;overflow:visible;max-width:32rem;}.detalle{color:#b2520e;}
.itemgal{padding:10px 5px;position:relative;}
.itemgal:hover{transform:scale(0.9);transition:0.5s ease-out; }
.itemgal img{max-width:100%;height:auto;}
.cont-peliculas .itemgal .capa{position:absolute;top:0;bottom:0;left:0;right:0;max-width:100%;height:auto;opacity:0;transition:.5s ease;background-color:#008cba;border-radius:20px;padding:10px 5px;transform:scale(0.95);}
.cont-peliculas .itemgal:hover .capa{opacity: 0.8;}
.texto{color:#fff;font-size:2rem;font-weight:600;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);text-align:center;}
.textosbase{padding:0 20px 0 20px;font-weight:900;}
#go-top{display:none;}.go_top {width:50px;height:50px;border-radius:50px;background:#6cccdf url("arrow_top.png") center center no-repeat;position:fixed;bottom:70px;right:50px;cursor:pointer;z-index:300;}.go_top span{display:none;color:#067d94;font-size:14px;font-weight:400;line-height:14px;text-transform:uppercase;position:absolute;bottom:-20px;white-space:nowrap;margin-left:-25px;width:100px;transition:all 0.3s ease 0s;text-align:center;}.go_top span b{font-weight:normal;text-align:center;}.go_top:hover{bottom:90px;}.go_top:hover span{display:block;text-align:center;}
@media screen and (max-width: 39.9375em) {.go_top{width:38px;height:38px;}.go_top span{font-size:11px;margin-left:-31px;}}
footer{margin-top:3rem;padding-bottom:3rem;}.blanco{color:#fff;}
h2.tituloform{margin-bottom:5px;}
#formIniciarSesion{background-image:url(fondo2.jpg);background-repeat:no-repeat;background-attachment:fixed;background-position:center; }
#contenido{position:absolute;width:100%;display:flex;flex-direction:column;justify-content:center;align-items:center;}
.seccioniniciarsesion,.seccionregistrodepeliculas{margin-top:6rem;background-color:#f0e8df;width:28rem;border-radius:12px;padding-bottom:2rem;}
.camposoblig, #terminos{font-size:0.75rem;padding-bottom:1rem;color:#b2520e;}
#peliculasapi{display:flex;flex-wrap:wrap;justify-content:center;margin-top:4rem;}
.peliapi{border-radius:12px;}
.box select{background-color:#fff;color:#525252;padding:12px;width:250px;border:none;border-radius:5px;font-size:0.8125rem;box-shadow:0 5px 25px rgba(0, 0, 0, 0.2);-webkit-appearance:button;appearance:button;outline:none;}
.box select option{padding:30px;}
[type=checkbox] {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: #fff;
  cursor: pointer;
}
[type=checkbox]:checked {
  background-color: currentcolor;
}
